.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Homepage */


.homepage {
  background-color: #60c0bf;
  margin: 10vh 65vh;
  border-radius: 5vh;
  border: 4px solid beige;
  padding: 10px;
  box-shadow: 4px 4px;
}

@media screen and (max-width: 800px) {
  .homepage {
    margin: 10vh 30vh;
  }
}

@media screen and (max-width: 500px) {
  .homepage {
    margin: 10vh 10vh;
  }
}

.task-list {
  border-top: 2px solid black;
  margin: 15px;
}

.task-item {
  background-color: #b380da;
  padding: 10px;
  border-radius: 2vh;
  border: 1px solid black;
  margin: 15px auto;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-form > input {
  background-color: #7fbc95;
  padding: 10px;
  border: 1px solid black;
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
}

.add-btn {
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  color: white;
  background-color: black;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ec7360;
  padding: 10px;
  border-radius: 15%;
  border: 1px solid black;
  margin: auto 5px;
  font-weight: bold;
  cursor: pointer;
}

.errors {
  background-color: #ec7360;
  padding: 5px;
  border-radius: 1vh;
  margin: 10px 15vh;
  font-weight: bold;
}

.trash-icon {
  background-color: #ec7360;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15%;
  margin-left: 5px;
  cursor: pointer;
}

.edit-icon {
  background-color: #f7cb66;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15%;
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
  box-shadow: 2px 2px;
  margin-right: 5px;
}

.checked {
  background-color: grey;
}
